@import 'bootstrap/dist/css/bootstrap.min.css';

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-group {
    display: flex;
    justify-content: space-between;
}
